<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roop.AgriKissan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".util.GeneralUtil" />
        <activity android:name=".util.DateUtil" />
        <activity android:name=".util.Constants" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".model.Wind" />
        <activity android:name=".model.WeatherData" />
        <activity android:name=".model.Weather" />
        <activity android:name=".model.Sys" />
        <activity android:name=".model.Main" />
        <activity android:name=".model.Coord" />
        <activity android:name=".model.Clouds" />
        <activity android:name=".data.webservices.NetworkRequestHelper" />
        <activity android:name=".data.SharedPreferenceHelper" />
        <activity android:name=".app.AppLifeCycleHandler" />
        <activity android:name=".app.AppController" />
        <activity android:name=".ui.AdvisoryActivity" />
        <activity
            android:name=".MyNavigation"
            android:label="@string/title_activity_my_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Provider.MyContentProviderF" />
        <activity android:name=".ui.WheatActivity" />
        <activity android:name=".ui.TomatoActivity" />
        <activity android:name=".ui.SugarcaneActivity" />
        <activity android:name=".ui.RiceActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity android:name=".ui.PotatoActivity" />
        <activity android:name=".ui.OnionActivity" />
        <activity android:name=".ui.OatsActivity" />
        <activity android:name=".ui.MustardActivity" />
        <activity android:name=".ui.MaizeActivity" />
        <activity android:name=".ui.LogoutActivity" />
        <activity android:name=".ui.LanguageActivity" />
        <activity android:name=".ui.CropActivity" />
        <activity android:name=".ui.CottonActivity" />
        <activity android:name=".ui.CauliflowerActivity" />
        <activity android:name=".ui.otpActivity" />
        <activity android:name=".ui.RegistrationActivity" />
        <activity android:name=".ui.BarleyActivity" />
        <activity android:name=".MyNavActivity" />
        <activity android:name=".LocaleotpActivity" />
        <activity android:name=".LocalHomeActivity" />
        <activity android:name=".LocaleFarmActivity" />
        <activity android:name=".HomeDashboardActivity" />
        <activity android:name=".ui.WebViewBuyersActivity" />
        <activity android:name=".ui.AllBuyersActivity" />
        <activity android:name=".ui.BuyersRecyclerAdapter" />
        <activity android:name=".ui.BuyersAdapter" />
        <activity android:name=".ui.EigthFragment" />
        <activity android:name=".ui.TenthFragment" />
        <activity android:name=".ui.NinthFragment" />
        <activity android:name=".ui.EightFragment" />
        <activity android:name=".ui.SeventhFragment" />
        <activity android:name=".ui.SixthFragment" />
        <activity android:name=".ui.FifthFragment" />
        <activity android:name=".ui.FourthFragment" />
        <activity android:name=".ui.ThirdFragment" />
        <activity android:name=".ui.SecondFragment" />
        <activity android:name=".ui.FirstFragment" />
        <activity android:name=".ui.WebViewSellersActivity" />
        <activity android:name=".ui.SellersRecyclerAdapter" />
        <activity android:name=".ui.SellersAdapter" />
        <activity android:name=".ui.AllSellersActivity" />
        <activity android:name=".ui.SellersActivity" />
        <activity android:name=".ui.MyFragmentsActivity" />
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.GurcharanActivity" />
        <activity android:name=".ui.DaljeetActivity" />
        <activity android:name=".ui.NishanActivity" />
        <activity android:name=".ui.RajmohanActivity" />
        <activity android:name=".ui.MittaliActivity" />
        <activity android:name=".ui.HindpalActivity" />
        <activity android:name=".ui.PavitarActivity" />
        <activity android:name=".ui.RamandeepActivity" />
        <activity android:name=".ui.NavdeepActivity" />
        <activity android:name=".ui.HarvinderActivity" />
        <activity android:name=".ui.GurpreetActivity" />
        <activity android:name=".ui.ExpertsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.NavroopActivity" />
        <activity android:name=".ExpertsActivity" />
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>